<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">{{site.title}}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Gallery</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-card">
                    <div class="intro-heading">
                        <p>Creating Lasting Memories</p>
                    </div>
                    <div class="intro-info">
                        <div class="intro-lead-in">
                            <p class="long-text">
                                By keeping in tune with the needs of the industry, 
                                incorprating the latest technology and trends,
                                while providing dedicated, individual attention to our clients,
                                is the driving force behind the priceless memories Kerismanique 
                                Events provides its clienteles.
                            </p>
                            <p class="short-text">
                                We offer
                            </p>
                        </div>
                        <div class="button">
                            <a href="#services" class="page-scroll btn btn-services" onclick="Tawk_API.maximize();">Contact Us</a>
                            <a href="#services" class="page-scroll btn btn-contact-us">Services</a>
                        </div>
                    <div>
                <div>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

