<!-- Services Section -->
    <section id="services" style="background-color: #f8f8f8;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="/img/header(2).jpeg" alt="...">
                        <div class="caption">
                          <h4>Party Tents</h4>
                          <p style="color:black">We offer Hexagonal Tents and High Peak tents for hire</p>
                          <p><a class="btn btn-primary" role="button" onclick="Tawk_API.maximize();">Get a Quote</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="/img/header(3).jpg" alt="...">
                        <div class="caption">
                          <h4>Dinner Tables </h4>
                          <p style="color:black">Round 10m diameter dinner tables. Can accomodate a max of 10 people</p>
                          <p><a class="btn btn-primary" role="button" onclick="Tawk_API.maximize();">Get a Quote</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="/img/header(3).jpg" alt="...">
                        <div class="caption">
                          <h3>Chairs</h3>
                          <p style="color:black">We have Chiavari chairs + Decor</p>
                          <p><a class="btn btn-primary" role="button" onclick="Tawk_API.maximize();">Get a Quote</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>